@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    transition: all .1s ease-out;
    box-sizing: border-box;
}

/* */
/* body {
 background-color: #ffffff; 
  color: rgb(8, 8, 8); 
}

header {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 30px;
}

#user-profile {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  margin-right: 30px;
}

#user-profile .logout {
  display: none;
} */

 #root {
  min-height: 100vh;
  background: radial-gradient(circle, rgba(255, 220, 152, 1) 0%, rgba(255, 122, 122, 1) 95%);
 }
/* */
.center {
    padding-left: 15%;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.sizeERC20 {
    font-size: 16px;
}

h2 {
    color: rgba(255, 255, 255, 0.938);
    font-size: 1.45rem !important;
}

h3 {
    font-size: 1.25rem !important;
}

a:hover {
    color: #f14c6d;
}

/*HEADER*/

.container-header{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* .img-header{
    width: 95px;
    height: 90px;
} */

.img-logo {
    width: 95px;
    height: 90px;
}

#user-profile{
   display: flex;
   justify-content: flex-end;
}

.network-name {
    display: flex;
    justify-content: flex-end;
    color: #34313f;
    font-size: 1.2rem;
    margin-top: 10px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    box-shadow: 1px 1px 1px black;
}

/**/
.mainContent {
    display: flex;
    align-items: center;
}

#swap-interface {
    bottom: 100px;
    border-radius: 100px;
    height: 410px;
    width: 500px;
    background-color: #191b1f;
    position: relative;
    /* border: 1rem solid #000; */
    -webkit-box-shadow: 7px 14px 17px 0px rgba(0,0,0,0.67); 
    box-shadow: 7px 14px 17px 0px rgba(0,0,0,0.67);
}

form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 20%;
}

.first-price {
    display: flex;
}

.pay-with {
    color: rgba(255, 255, 255, 0.938);
    margin-top: 45px;
    margin-bottom: 9px;
}

.group-top {
    display: flex;
    align-items: stretch;
    margin-top: 5px;
}

.group-text {
    background-color: #191B1F;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
}

.group-text img {
    width: 30px;
}

select {
    max-width: 350px;
    min-width: 240px;
    padding: 7px;
}

select option {
    background-color:rgba(255, 255, 255, 0.938);
}

#swap-box p {
    margin-top: 13px;
    color: rgba(255, 255, 255, 0.938);
    font-size: 14px!important;
}

#swap-box .btn.swap {
  position: absolute;
  width: 90%;
  height: 50px;
  background-color: #172A42;
  color: #6DA8FF;
  margin: 0px auto;
  bottom: -75px;
  left: 50%;
  margin-left: -45%;
  border-radius: 15px;
}

.btn-buy {
    border-radius: 25px;
    padding: 7px;
    width: 300px;
    margin-top: 5px;
}

.btn-approve {
    width: 300px;
    border-radius: 25px;
    padding: 7px;
    /* border: 5px solid lightcoral; */
    background:rgba(255, 220, 152, 1);
}

.btn-approve:hover{
    background: rgba(255, 122, 122, 1);
}

.btn-buy:hover {
    background-color:rgba(255, 122, 122, 1);
    color: #fff;
}

/* FOOTER */

footer {
    color: #34313f;
    text-align: center;
    font-size: 1.1rem;
    /*padding-top: 20px;*/
    padding-bottom: 20px;
  }

footer a {
    color:#627eea;
  }

/*footer a {
    color:rgba(255, 122, 122, 1);
  }*/