
body {
  background-color: #ffffff;
  position: relative;
  color: rgb(8, 8, 8);
}

header {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 30px;
  font-family: 'Arvo', serif;
}

#user-profile {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  margin-right: 30px;
}

#user-profile .logout {
  display: none;
}

#swap-interface {
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 50px;
  height: 380px;
  width: 500px;
  background-color: #191b1f;
  position: relative;
}

#swap-box {
  position: absolute;
  top: 30px;
  width: 100%;
}

.input-group {
  width: 90%;
  margin: 0px auto;
}

.form-control {
  background-color: #212429;
  border-color: #2C2F36;
  border-width: 2px;
  height: 70px;
  border-radius: 15px;
  font-size: x-large;
}

.input-group-text {
  border-color: #2C2F36;
  color: #fff;
  width: 27%;
  font-size: large;
}

#eth-addon img{
  margin-left: 10px;
}

img {
  width: 60px;
  height: 60px;
  margin-left: -5px;
}
#eth{
  width:30px;
  height: 30px;
}
#usdc{
  width:30px;
  height: 30px;
}
.input-group .btn {
  width: 27%;
  border-color: #000000;
}

.input-group #output:hover {
  cursor: not-allowed;
}

.dropdown-menu li:hover {
  cursor: pointer;
}

#arrow-box {
  width: 100%;
  display: flex;
  justify-content: left;
  color: white;
  
}
#arrow-box li{
  list-style: none;
}

#arrow-box h2{
  margin: 2px 0px; 
} 

#arrow-box h2:hover{
  cursor: pointer;
}

#rate-box {
  width: 100%;
  height: 20px;
  margin-top: 20px;
}

#rate-box .rate{
  color: #ffffff;
}

#rate-box .rate.text {
  padding-left: 30px;
  float: left;
}

#rate-box .rate.value {
  padding-right: 30px;
  float: right;
  display: none;
}


#swap-box .btn.swap {
  position: absolute;
  width: 90%;
  height: 50px;
  background-color: #172A42;
  color: #6DA8FF;
  margin: 0px auto;
  bottom: -75px;
  left: 50%;
  margin-left: -45%;
  border-radius: 15px;
}

footer {
  clear: both;
  padding: 0;
  line-height: normal;
  position: fixed;
  bottom: 8px;
  width: 100%;
  color: black;
  padding-bottom: 15px;
  margin-left: 24%!important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


