@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

/* */
/* body {
 background-color: #ffffff; 
  color: rgb(8, 8, 8); 
}

header {
  background-color: #ffffff;
  height: 80px;
  width: 100%;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 30px;
}

#user-profile {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(0, -50%);
  margin-right: 30px;
}

#user-profile .logout {
  display: none;
} */

 #root {
  min-height: 100vh;
  background: radial-gradient(circle, rgba(255, 220, 152, 1) 0%, rgba(255, 122, 122, 1) 95%);
 }
/* */
.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.sizeERC20 {
    font-size: 16px;
}

h2 {
    color: rgba(255, 255, 255, 0.938);
    font-size: 1.45rem !important;
}

h3 {
    font-size: 1.25rem !important;
}

.mainContent {
   
    display: flex;
    align-items: center;
    
}

#swap-interface {
    margin: 75px auto;
    border-radius: 100px;
    height: 400px;
    width: 500px;
    background-color: #191b1f;
    position: relative;
    /* border: 1rem solid #000; */
    -webkit-box-shadow: 7px 14px 17px 0px rgba(0,0,0,0.67); 
    box-shadow: 7px 14px 17px 0px rgba(0,0,0,0.67);
}

form {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin-left: 20%;
}

.first-price {
    display: flex;
}

.pay-with {
    color: rgba(255, 255, 255, 0.938);
    margin-top: 45px;
    margin-bottom: 9px;
}

.group-top {
    display: flex;
    align-items: stretch;
    margin-top: 5px;
}

.group-text {
    background-color: #191B1F;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
}

.group-text img {
    width: 30px;
}

select {
    max-width: 350px;
    min-width: 240px;
    padding: 7px;
}

select option {
    background-color:rgba(255, 255, 255, 0.938);
}

#swap-box p {
    margin-top: 13px;
    color: rgba(255, 255, 255, 0.938);
    font-size: 14px!important;
}

<<<<<<< HEAD
#swap-box .btn.swap {
  position: absolute;
  width: 90%;
  height: 50px;
  background-color: #172A42;
  color: #6DA8FF;
  margin: 0px auto;
  bottom: -75px;
  left: 50%;
  margin-left: -45%;
  border-radius: 15px;
}

footer {
  clear: both;
  padding: 0;
  line-height: normal;
  position: fixed;
  bottom: 8px;
  width: 100%;
  color: black;
  padding-bottom: 15px;
  margin-left: 24%!important;
=======
.margin-bottom-p {
    margin-bottom: 45px;
>>>>>>> d7de301649ba052d16e302ea7cc26028bd1f6456
}

.btn-buy {
    border-radius: 25px;
    padding: 7px;
    width: 300px;
}

.btn-buy::hover{
    background-color: lightcoral;
    color: #fff;
}

